.Banana {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Banana, .Banana button {
  font-family: monospace;
}

.Banana .keyboard {
  height: 480px;
  display: flex;
  flex-direction: column;
  margin-left: -60px;
  justify-content: center;
}

.Banana .keyboard .key {
  font-size: 0.9rem;
  background-color: #111;
  color: white;
  width: 60px;
  height: 60px;
}

.Banana .keyboard .key:disabled {
  color: gray;
}

.Banana .keyboard.quick-shop .key {
  width: 120px;
  height: 120px;
}

.Banana .keyboard .key * {
  margin: 5px 0;
}

.Banana .number-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Banana .top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 30px;
}

.Banana .home-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 45px;
}

.Banana .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 75px;
}

.Banana .keyboard.quick-shop .top-row {
  padding-left: 60px;
}

.Banana .keyboard.quick-shop .home-row {
  padding-left: 90px;
}

.Banana .keyboard.quick-shop .bottom-row {
  padding-left: 150px;
}