.Banana, .Banana button {
  font-family: monospace;
}

.Banana .keyboard {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.Banana .keyboard .key {
  font-size: 0.9rem;
  background-color: #111;
  color: white;
  width: 120px;
  height: 120px;
}

.Banana .keyboard .key:disabled {
  color: gray;
}

.Banana .keyboard .key * {
  margin: 5px 0;
}

.Banana .number-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Banana .top-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 60px;
}

.Banana .home-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 90px;
}

.Banana .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 150px;
}