.Stats {
  display: grid;
  font-family: monospace;
  grid-template-areas: "wpm chart chart" "acc chart chart" "raw chars time"
}

.Stats .wpm {
  grid-area: wpm;
}

.Stats .acc {
  grid-area: acc;
}

.Stats .chart {
  margin-top: 20px;
  grid-area: chart;
  color: black;
}

.Stats .raw {
  grid-area: raw;
  margin: 0 50px;
}

.Stats .chars {
  grid-area: chars;
  margin-left: 150px;
  margin-right: 100px;
}

.Stats .time {
  grid-area: time;
  margin: 0 100px;
}

.Stats h3 {
  margin-bottom: 0;
}

.Stats h2, .Stats h3 {
  margin-top: 0;
}