.TypingTest {
  position: relative;
}

.TypingTest .threeLines {  
  overflow: hidden;
  padding-top: 20px;
}

.TypingTest .words {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}