.TypingTest {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TypingTest .threeLines {  
  overflow: hidden;
}

.TypingTest .words {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}